---
layout : slideshow
---
<div class="reveal">
  <div class="slides">
    {% assign parents = site.slides | where: 'group_order', 0 | sort: 'order' %} 
    {% for parent in parents %}
      {% assign group = site.slides | where: 'group', parent.group | sort: 'group_order' %}
    <section>
      {% if group.size == 1 %}
      {{ parent.output }}
      {% else %}
        {% for slide in group %}
      <section>{{ slide.output }}</section>
        {% endfor %}
      {% endif %}
    </section>
    {% endfor %}
  </div>
  <footer>
    {% include slide-footer.html %}
  </footer>
</div>

